#principale{
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: scroll;
  padding-top: 50px;
  padding-left: 10%;
}

.secondario{
  text-align: center;
  width: 80%;
  height: 50px;
  background-color: rgb(58, 58, 58);
  padding-top: 15px;
}

button{
  background-color: #002d72;
  color: white;
}

table {
  width: 80%;
  background-color: rgb(121, 121, 121) ;
  padding-bottom: 50px;
}

th{
  color: black;
  background-color: rgb(107, 107, 107) ;
}
