button{
  float: left;
}

mat-card-content{
  width: 260px;
}

#sposta{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  padding-top: 10px;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
}

input{
  width: 100%;
}

[hidden]{
  display: none;
}
