mat-horizontal-stepper{
  padding-top: 100px;
  background-color: rgb(39, 36, 36);
  padding-left: 30px;
  padding-right: 30px;
}

.mat-form-field {
  margin-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #023583;
}

button{
  background-color: #043f99;
  color: white;
  text-align: center;
}

#destra{
  float: right;
}
#sinistra{
  float: left;
}
.centro{
  text-align: center;
  padding-left: 18px;
}
.centro mat-button{
  padding-right: 10px;
  padding-left: 10px;
}

form{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#shortInput{
  width: 30px;
}

#longInput{
  width: 340px;
}

#longInput2{
  padding-right: 5px;
  padding-left: 5px;
  width: 310px;
}

input{
  color:white;
  background-color: rgb(39, 36, 36);
}

h2{
  color:white;
  padding-top: 50px;
  padding-bottom: 10px;
}

[hidden]{
  display: none;
}

#bottoni{
  text-align: center;
  padding-left: 42%;
}

#bottone{
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

h3{
  color: white;
  padding-top: 15px;
}

mat-grid-list{
  background-color: none;
  padding-top: 0px;

}

mat-grid-tile{
  background-color: none;
}

mat-card{
  background-color: none;
  padding-top: 2px;
  padding-bottom: 4px;
}

.finale{
  text-align: center;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none;
}
